{{template "layout.html" .}} {{define "content"}} {{if .UseHero}}
<!-- Page Hero -->
{{template "hero.html" .Hero}} {{end}}
<style>
    .about {
        background: linear-gradient(
            90deg,
            rgba(36, 35, 35, 0.5) 0%,
            rgba(0, 0, 0, 0.6) 35%,
            rgba(0, 0, 0, 0.4) 100%
        );
    }
    .about p {
        padding: 0.5rem 0;
    }
</style>
<section class="m-2 p-10 backdrop-blur-md text-white rounded-md md:-mt-4 z-10 about">
  <h2 class="text-5xl text-yellow-400 mb-3">Swaye Chateau</h2>
  <h3 class="text-2xl text-slate-200 mb-2">Coding One Day At a Time!</h3>
  <div class="pb-6">
     <p>
    Hello, Swaye here. I am a software developer, who likes to learn and build
    things, I am currently learning animation and Mandarin. My passion for tech
    and knowledge is what drives me to constantly want to learn new things and
    the latest creations out there!!
  </p>

  <p>
    Being an open individual, I have tailored my site to reflect who I am, you
    could say this site is my life journal and toy box. I have not invested time
    into building this site for anyone in particular, unless you know me or are
    trying to get to know, then welcome to my world!!!
  </p>

  <p>
    P.S. For those that don't know me, I can be a tad socially awkward... Or
    maybe more than a tad, I will let you decide that! :p
  </p> 
  </div>


  <h2 class="text-4xl text-yellow-400 mb-3">Skills <span class="text-slate-300">(To Pay The Bills)</span></h2>
  <p>
    If you are on my site to assess my skills for work, my CV can be found here:
    <a alt="resume" class="" href="https://cv.swayechateau.com">
      Curriculum Vitae
    </a>
  </p>
</section>

{{end}}
