{{template "layout.html" .}} {{define "content"}} {{if .UseHero}}
<!-- Page Hero -->
{{template "hero.html" .Hero}} {{end}}
<style>
  @import url("/static/css/dynamic-content.css");
</style>
<div>
  <!-- article -->
  <section class="-mt-9 z-10 md:p-6 md:mx-4 mx-1 p-3">
    <article class="bg-slate-800 max-w-full relative p-4 rounded">
      <div class="flex relative sm:flex-row flex-col">
        <div class="text-blue-400 capitalize order-last sm:order-first">
          {{.Words.Updated}}:
          <time datetime="{{.Content.Updated}}" class="text-gray-500"
            >{{.Content.Time.Updated}}</time
          >
        </div>
        <div class="sm:grow"></div>
        <div class="text-end">
          <div
            class="p-2 bg-slate-600 text-slate-200 rounded text-sm uppercase inline-block"
          >
            {{ .Content.Category.Main }}
          </div>
        </div>
      </div>
      <div class="py-6 text-slate-200">
        {{template "dynamic-content.html" .Content.Data}}
      </div>
      <div class="flex">
        <div class="capitalize text-blue-400">
          {{.Words.Published}}:
          <time datetime="{{.Content.Published}}" class="text-gray-500"
            >{{.Content.Time.Published}}</time
          >
        </div>
        <div class="grow"></div>
        <p class="text-gray-400 capitalize">{{ .Words.CommentsDisabled }}</p>
      </div>
    </article>
    <aside class="prose lg:prose-xl max-w-none"></aside>
  </section>
  <!-- /article -->
  <!-- related -->
  <section></section>
  <!-- /related -->
  <!-- comments -->
  <section></section>
  <!-- /comments -->
</div>
{{end}}
