{{template "layout.html" .}} {{define "content"}} {{if .UseHero}}
<!-- Page Hero -->
{{template "hero.html" .Hero}} {{end}}
<style>
  @import url("/static/css/dynamic-content.css");
</style>
<div>
  <!-- article -->
  <section class="-mt-9 z-10 p-6 mx-4">
    <article class="bg-slate-100 max-w-full relative p-4">
      <div class="flex relative flex-row">
        <div class="text-blue-400">
          {{.Words.Updated}}: <time datetime="{{.Content.Updated}}"
            class="text-gray-500">Wednesday, January 1st 2020</time>
        </div>
        <div class="grow"></div>
        <div class="p-2 bg-slate-300 rounded text-sm uppercase">
          {{ .Content.Category.Main }}
        </div>
      </div>
      <div class="py-6">
        {{template "dynamic-content.html" .Content.Data}}
      </div>
      <div class="flex">
        <div class="capitalize text-blue-400">
          {{.Words.Published}}: <time datetime="{{.Content.Published}}" class="text-gray-500">Wednesday, January 1st
            2020</time>
        </div>
        <div class="grow"></div>
        <p class="text-gray-400 capitalize">
          {{ .Words.CommentsDisabled }}
        </p>

      </div>
    </article>
    <aside class="prose lg:prose-xl max-w-none">

    </aside>
  </section>
  <!-- /article -->
  <!-- related -->
  <section></section>
  <!-- /related -->
  <!-- comments -->
  <section></section>
  <!-- /comments -->
</div>
{{end}}