{{template "layout.html" .}} {{define "content"}} {{if .UseHero}}
<!-- Page Hero -->
{{template "hero.html" .Hero}} {{end}}
<section class="grid grid-cols-3 gap-8 m-8 pb-20">
  {{range .Projects }}
  <div class="bg-white rounded-lg opacity-70 hover:shadow-md hover:opacity-100">
    <img
      src="{{.Content.HeroImage}}"
      alt="Image 2"
      class="w-full h-56 object-cover rounded-t-lg"
    />
    <div class="mt-2 p-6">
      <h3 class="text-xl font-semibold">{{.Content.Title }}</h3>
      <p class="text-gray-500">{{.Content.Description}}</p>
    </div>
    <div class="px-6 pb-2">
      <span
        class="mb-2 mr-2 inline-block rounded-full bg-blue-400 px-3 py-1 text-sm font-semibold text-white"
      >
        #{{ .Categories.Main }}
      </span>
      {{ range .Categories.Sub}}
      <span
        class="mb-2 mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700"
      >
        #{{ . }}
      </span>
      {{ end }}
    </div>
  </div>
  <!-- modal with project data -->
  {{end}}
</section>
{{end}}
