<!DOCTYPE html>
<html lang="{{.Languages.Current}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    {{if .Meta.Description}}
    <meta name="description" content="{{.Meta.Description}}" />
    <meta name="og:description" content="{{.Meta.Description}}" />
    {{end}} {{if .Meta.Keywords}}
    <meta name="keywords" content="{{.Meta.Keywords}}" />
    {{end}} {{if .Meta.Title}}
    <title>{{.Meta.Title}}</title>
    {{else}}
    <title>Portfolio</title>
    {{end}}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/tailwindcss.js"></script>
    <script defer src="/static/js/app.js"></script>
    <script defer src="/static/js/language.js"></script>
    <script defer src="/static/js/time.js"></script>
  </head>

  <body class="flex flex-col min-h-screen" style="background-color: #111">
    <!-- Lang Picker -->
    <div class="fixed top-0 right-0 z-50">
      {{template "language-switcher.html" .}}
    </div>

    <!-- Navigation -->
    <nav
      id="navigation"
      class="fixed bottom-0 md:top-0 md:h-16 md:bottom-auto md:py-0 backdrop-blur-sm z-40 max-h-40 w-full py-2 transition-all ease-in md:flex shadow-0_8px_32px_0_rgba(31,38,135,0.37)"
    >
      <div class="hidden md:flex items-center justify-center">
        <h1 class="mx-3 my-2">
          <span class="text-3xl font-bold text-green-500">S</span>
          <span class="text-3xl font-bold text-yellow-500">C</span>
        </h1>
      </div>
      <div
        class="flex items-center justify-evenly text-white md:grow md:justify-center md:space-x-3"
      >
        <!-- Loop Through: Routes -->
        {{if .Routes}} {{ range .Routes }}
        <a
          href="{{.Link}}"
          class="flex flex-col items-center justify-center md:p-1 md:transition-all md:ease-in hover:text-green-400"
        >
          <svg
            class="md:hidden text-2xl"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
          >
            <path fill="currentColor" d="{{.Icon}}"></path>
          </svg>
          <span className="text-sm md:text-2xl capitalize"> {{.Name}} </span>
        </a>
        {{end}} {{end}}
      </div>
    </nav>

    <!-- Main -->
    <main class="flex flex-col relative grow">
      {{block "content" .}} {{end}}
    </main>
    <!-- Footer -->
    <footer
      class="flex flex-col justify-between px-5 pt-10 pb-32 md:px-20 md:pb-10"
    >
      <div id="socials" class="mx-auto space-x-3">
        <!-- Loop Through -->
        {{if .Socials}} {{range .Socials}}
        <a
          href="{{.Link}}"
          target="_blank"
          class="inline-block text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">{{.Name}}</span>
          <svg
            class="h-8 w-8"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path fill-rule="evenodd" d="{{.Icon}}" clip-rule="evenodd"></path>
          </svg>
        </a>
        {{end}} {{end}}
      </div>

      <div
        class="flex flex-col items-center justify-between text-xl md:flex-row"
      >
        <div id="copyright" class="p-2">
          <p class="text-white">
            &copy;{{.Founded}} - 2023
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
