<a href="{{.Url}}" class="overflow-hidden rounded shadow-lg md:col-span-2 xl:col-span-1 hover:opacity-90">
  <img
    class="w-full h-48 object-cover object-center"
    src="{{.Content.HeroImage}}"
    alt="{{.Content.Title}}"
  />
  <!-- Project Title and Excerpt -->
  <div class="px-6 py-4">
    <div class="mb-2 text-xl font-bold">{{ .Content.Title }}</div>
    <p class="text-base text-gray-400">{{ .Content.Title }}</p>
  </div>
  <!-- Project Tags -->
  <div class="px-6 pt-4 pb-2">
    <span
      class="mb-2 mr-2 inline-block rounded-full text-yellow-700 px-3 py-1 text-sm font-semibold bg-yellow-400"
    >
      #{{ .Categories.Main }}
    </span>
    {{ range .Categories.Sub}}
    <span
      class="mb-2 mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700"
    >
      #{{ . }}
    </span>
    {{ end }}
  </div>
</a>
